<%= form_with(model: menu_item, class: "form-horizontal center", local: true) do |form| %>
  <% if menu_item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <ul>
      <% menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :title, id: :menu_item_title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :inventory, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.number_field :inventory, id: :menu_item_inventory, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :price, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :price, id: :menu_item_price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :image, id: :menu_item_image, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_area :description, id: :menu_item_description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-default btn-primary"%>
  </div>
<% end %>
